<div class="row">
  <div class="col-xs-12" *ngIf="isAuthenticated" >
    <button class="btn btn-success" (click)="onNewPage()">New Fire Link</button>
  </div>
</div>
<div class="card-container" >
  <mat-card class="custom-mat-card" *ngFor="let page of pages; let i = index">
    <mat-card-header>
      {{ page.name }}
    </mat-card-header>
    <mat-card-content>
      <div class="post-image">
        <a href="{{page.url}}">
          <img 
          [src]="page.imagePath" 
          [alt]="page.name"
          style="height: 150px; width: 150px;"          
          >
        </a>        
      </div>      
    </mat-card-content>    
    <mat-card-actions *ngIf="isAuthenticated">
      <a mat-button color="primary" [routerLink]="['/firelinks', i]">EDIT</a>      
    </mat-card-actions>
  </mat-card>
</div>